@model IEnumerable<string>

@{
    ViewBag.Title = "_Navbar";
}

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav" id="navbar">
                @foreach (var sportName in Model)
                {
                    <li>
                        @Ajax.ActionLink(sportName, "Index", "Home", new { s = sportName }, new AjaxOptions()
                                                                                                {
                                                                                                    UpdateTargetId = "content",
                                                                                                    HttpMethod = "GET",
                                                                                                    InsertionMode = InsertionMode.Replace,
                                                                                                    OnSuccess = $"changeRoom('{sportName}')"
                                                                                                },
                                         null)
                    </li>
                }
            </ul>

        </div>
    </div>
</nav>